# Object files
*.obj

# Linker output
*.map
*.exp

# Assembler listings (TASM /la output)
*.lst
*.LST

# Container build output
/out/

# Precompiled Headers
*.pch

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll

# Executables
*.exe

# Exclusions
!binw/*.*
!examples/*.*
!l32/*.*
!pctest/*.*
